{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a href="/admin/add/" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建管理员
            </a>


            <div style="float: right;width: 300px">
                <form method="get">
                    <div class="input-group">

                        <input type="text" name="q" class="form-control" placeholder="Search for..."
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        </span>

                    </div>
                </form>
            </div>
        </div>


        <div class="bs-example" data-example-id="table-within-panel">
            <div class="panel panel-default">
                <!-- Default panel contents -->

                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    管理员列表
                </div>
                <div class="panel-body">
                    <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia
                        bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
                        venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>

                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in queryset %}
                        <tr>
                            <th>{{ obj.id }}</th>
                            <td>{{ obj.username }}</td>
                            <td>**********</td>


                            <td>
                                <a href="/admin/{{ obj.id }}/edit" class="btn btn-primary btn-xs">编辑</a>
                                <a href="/admin/{{ obj.id }}/delete" class="btn btn-danger btn-xs">删除</a>
                                <a href="/admin/{{ obj.id }}/reset" class="btn btn-info btn-xs">重置密码</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="clearfix" style="display: inline-block">
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>

        <form method="get" >
        <div class="input-group" style="width: 150px;">
            <input type="text" class="form-control" placeholder="页码" name="page">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">跳转！</button>
                </span>
        </div><!-- /input-group -->
        </form>

    </div>

{% endblock %}